* {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}


header,
main {}


/* Header-section */
.header-section {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}
.mainBody {
    margin-left: auto;
    margin-right: auto;
}
.header-content {
    color: white;
    text-align: center;
    padding-top: 200px;
}
.header-small {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.header-capital {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
/* Discount-section */
.discount-section {
    margin-bottom: 140px;
    text-align: center;
}
.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.discount-all {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.immg {
    width: 802.9px;
    height: 500px;
}
/* Discount-section-End*/

/*  Banner-section */

.banner {
    display: flex;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
}
.banner-content {
    padding-top: 10px;
    padding-left: 10px;
    width: 50%;
}
.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.03px;
    margin-bottom: 24px;
}
.banner-text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}
.button a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
}
.banner-image {
    width: 319.83px;
    height: 464.662px;
    margin-left: 30px;
}

/*  Banner-section-End */

/* DATE-LINE-SECTION */
.date-line-section {
    width: 1320px;
    height: 482px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0 auto;
    margin-bottom: 100px;
}

.date {}

.fast-color {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 53px;
}

.black-color {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 53x;
}
.button-j {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    width: 100px;
    margin: 30px auto;
}

.button-j a {
    color: #FFF;
    text-decoration: none;
}

.date-section {
    padding-top: 130px;
}

/* DATE-LINE-SECTION-END*/

/* three-layer-content */
.three-layer {
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
/* 1st div */
.three-div {}
.content {}
.content-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.content-head {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.content-discription {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* 2nd div */
.round-img {
    width: 380.844px;
    height: 380.844px;
    flex-shrink: 0;
    border-radius: 380.844px;
    background: url('resources/Ellipse\ 1.png'), lightgray -91.279px 0px / 150.038% 100% no-repeat;
    margin-top: 27px;
}

.img-div {
    width: 433px;
    height: 433px;
    border-radius: 433px;
    border: 15px solid #F00;
    text-align: center;
}

/* 3rd div */
.new-year-content {
    width: 276px;
    margin-left: 118px;
}
.title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.new-year-discription {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.new-year-img {
    width: 140px;
    height: 140px;
}
/* Free secton */
.free-section {
    background-color: #FFF;
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.free-section-content {
    text-align: center;
}
.free-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.free-header {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 28px;
}
.free-header span {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.free-discription {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 1080px;
    margin-bottom: 64px;
}

.body-left {
    border-radius: 16px 16px 0px 0px;
    display: flex;
    background-color: #FFF;
    height: 433px;
    width: 1320px;
    position: relative;

}

.div-right {
    margin-left: 94px;
    position: relative;
}

.fifty-div {
    margin-left: -144px;

    margin-top: -369px;
}

/* free section footer */
.footer-image {
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
}

/* Free secton  End*/

/* portfolo-section */
.portfolio {
    width: 1320px;
    margin: 0 auto;
}

.portfolio-content {}

.portfolio-content h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-content h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.portfolio-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}

.portfolio-section img {
    width: 419px;
    height: 445px;
    margin-right: 18px;
    margin-bottom: 18px;
}

.box {
    transition: 0.5s;
}

.box:hover {

    transform: scale(1.1);
}

/* portfolo-section End*/

/* search-section */
.search-section {
    width: 1320px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px auto;
    height: 616px;

}

.search-content {
    text-align: center;
    margin-top: 20px;
}

.search-content img {

    margin-top: 80px;
    margin-bottom: 40px;
}

.search-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.search-discription {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.inputFuild {
    text-align: center;
    margin-top: 48px;
}

.inputFuild input {

    width: 438px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    padding-left: 15px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;


}

.input-button {
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: -4px;
    cursor: pointer;
    color: #FFF;
}

/* news letter section style */

/* Footer section */
.footer-section {
    width: 100%;
    height: 650px;
    background: #070211;
    object-fit: cover;
    margin-bottom: 0px;
}

.one-section {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding: 120px 140px;
}
.left-one {
    width: 374px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 500;
    line-height: 38px;
}
.right-one{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.call {
    width: 24px;
    height: 24px;
    margin-bottom: -6px;
}
.callnum {
    margin-bottom: 10px;
   
}
.web {
    margin-bottom: -6px;
}
/* icon-section */
.icon-section {
    text-align: center;
}
.icon {
    margin-right: 24px;
}
/* tow section */
.tow-section {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 120px 140px;
}
.left-one-bottom {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.right-one-bottom {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}